<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  th:fragment="type" class="">
    <div class="">
        <section class="type-section">
            <div class="type-section-title">Sorceries</div>
            <ul class="card-list">
                <li class="">1 Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>

        <section class="type-section">
            <div class="type-section-title">Instants</div>
            <ul class="card-list">
                <li class="card-list-item-name">Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>

        <section class="type-section">
            <div class="type-section-title">Instants</div>
            <ul class="card-list">
                <li class="card-list-item-name">Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>

        <section class="type-section">
            <div class="type-section-title">Instants</div>
            <ul class="card-list">
                <li class="card-list-item-name">Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>

        <section class="type-section">
            <div class="type-section-title">Instants</div>
            <ul class="card-list">
                <li class="card-list-item-name">Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>

        <section class="type-section">
            <div class="type-section-title">Instants</div>
            <ul class="card-list">
                <li class="card-list-item-name">Necrobloom</li>
                <li class="card-list-item-name">Austere command</li>
                <li class="card-list-item-name">Riot</li>
                <li class="card-list-item-name">Farewell</li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>